{% extends "layout.html" %}

{% load static %}

{% block title %}
    Hesap Ekle
{% endblock %}



{% block content %}
<div class="container" style="border-radius: 12px;">
    <div class="cta-box p-5">
        <form method="post">
        {% csrf_token %}
        {{ form }}
        {{ category.name }} kategorisini silmek istediğinize emin misiniz ?
        <button class="mt-3 bg-danger" type="submit">Evet</button> <a href="{% url 'operations' %}" class="btn">Hayır</a></button>
        </form>
        

    </div>
    

</div>

{% endblock %}