{% extends "layout.html" %}

{% load static %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'pages/css/style.css' %}">
{% endblock %}

{% block title %}
    Budget | {{ request.user.username }}
{% endblock %}

{% block content %} 

<div class="text-center text-secondary bg-body-tertiary">
    <div class="container py-5">
        <h2>{{ user.display_name }}</h2>
        <hr><br>
        <h3>"{{ hesap.name }}" hesabındaki işlemler gösterilmektedir.</h3>
    </div>
</div>

{% include "pages/partials/_accounts_nav.html" %}


<div class="container mt-3">
    <h3>Açılış Tarihi: {{ acilis|date:"d F Y H:i" }}</h3>


</div>





{% endblock content %}

{% block js_files %}
<script src="{% static 'pages/js/extra.js' %}"></script>
{% endblock %}