{% extends "layout.html" %}

{% load static %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'pages/css/style.css' %}">
{% endblock %}

{% block title %}
    Dashboard | {{ request.user.name }}
{% endblock %}

{% block content %} 

<div class="text-center text-secondary bg-body-tertiary">
    <div class="container py-5">
        <h2>Hoşgeldin {{ user.name }}
            <a class="text-info" href="{% url 'profile_edit' %}" style="text-decoration: None;">[Değiştir]</a>
        </h2>
        <hr><br>
        <h3>Hesapların Toplamı: {{ toplam }} TRY</h3>
    </div>
</div>


{% include "pages/partials/_accounts_nav.html" %}
{% include "pages/partials/_recent_transactions.html" %}



{% endblock content %}

{% block js_files %}
<script src="{% static 'pages/js/extra.js' %}"></script>
{% endblock %}