{% extends "layout.html" %}

{% load static %}


{% block title %}
    Anasayfa
{% endblock %}

{% block content %} 

<h1>Lorem ipsum dolor sit amet.</h1>
<h1>Lorem ipsum dolor sit amet.</h1>
<h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit harum nesciunt ipsa. Facere odit nisi deserunt sit officiis cum soluta tempore quia! Atque aspernatur sequi dolore, mollitia deserunt voluptatum neque ipsam ad voluptas repellat eaque officiis ea minus suscipit harum quia labore aperiam dolor non.</h5>
<h1>Lorem ipsum dolor sit amet.</h1>
<h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit harum nesciunt ipsa. Facere odit nisi deserunt sit officiis cum soluta tempore quia! Atque aspernatur sequi dolore, mollitia deserunt voluptatum neque ipsam ad voluptas repellat eaque officiis ea minus suscipit harum quia labore aperiam dolor non.</h5>
{% endblock content %}