{% extends "layout.html" %}

{% load static %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'static/pages/css/style.css' %}">
{% endblock %}

{% block title %}
    İşlemler | {{ request.user.name }}
{% endblock %}

{% block content %} 

<div class="text-center text-secondary bg-body-tertiary">
    <div class="container py-5">
        <h2>{{ user.display_name }}</h2>
        <hr><br>
        <h3>İşlemler</h3>
    </div>
</div>

{% include "pages/partials/_accounts_nav.html" %}

<div class="accordion accordion-flush text-center overflow-hidden border-0 shadow-lg m-5 operations" id="accordionFlush">


    <div class="accordion-item">
        <h2 class="accordion-header bg-success">
            <button class="accordion-button collapsed bg-success" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour"><strong>TRANSFER İŞLEMLERİ</strong></button>
        </h2>
        <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlush">
            <div class="accordion-body"><a style="text-decoration: None;" href="{% url 'transaction_register' %}">Transfer Gerçekleştir</a></div>
        </div>

        <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlush">
            <div class="accordion-body"><a href="#" class="open-modal" data-key="transactions">Düzenle / Sil</a></div>
        </div>

    </div>



    <div class="accordion-item">
        <h2 class="accordion-header bg-success">
            <button class="accordion-button collapsed bg-success" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive"><strong>KAYITLI TRANSFER İŞLEMLERİ</strong></button>
        </h2>
        <div id="flush-collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionFlush">
            <div class="accordion-body"><a style="text-decoration: None;" href="{% url 'recurring_register' %}">Transfer Planla</a></div>
        </div>

        <div id="flush-collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionFlush">
            <div class="accordion-body"><a href="#" class="open-modal" data-key="recurrings">Düzenle / Sil</a></div>
        </div>
    </div>




    <div class="accordion-item">
        <h2 class="accordion-header bg-success">
            <button class="accordion-button collapsed bg-success" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne"><strong>HARCAMA PLANI / BUDGETS</strong></button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlush">
            <div class="accordion-body"><a style="text-decoration: None;" href="{% url 'budget_register' %}">Plan Ekle</a></div>
        </div>

        <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlush">
            <div class="accordion-body"><a href="#" class="open-modal" data-key="budgets">Düzenle / Sil</a></div>
        </div>

    </div>

    <div class="accordion-item">
        <h2 class="accordion-header bg-success">
            <button class="accordion-button collapsed bg-success" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo"><strong>HESAP İŞLEMLERİ</strong></button>
        </h2>

        <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlush">
            <div class="accordion-body"><a style="text-decoration: None;" href="{% url 'account_register' %}">Hesap Ekle</a></div>
        </div>

        <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlush">
            <div class="accordion-body"><a href="#" class="open-modal" data-key="accounts">Düzenle / Sil</a></div>
        </div>

        
    </div>


    <div class="accordion-item">
        <h2 class="accordion-header bg-success">
            <button class="accordion-button collapsed bg-success" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree"><strong>KATEGORİ İŞLEMLERİ</strong></button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlush">
            <div class="accordion-body"><a style="text-decoration: None;" href="{% url 'category_register' %}">Ekle</a></div>
        </div>
        <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlush">
            <div class="accordion-body"><a href="#" class="open-modal" data-key="categories">Düzenle / Sil</a></div>
        </div>
       
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header bg-success">
            <button class="accordion-button collapsed bg-success" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseThree"><strong>APIs</strong></button>
        </h2>
        <div id="flush-collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionFlush">
            <div class="accordion-body"><a style="text-decoration: None;" href="{% url 'account_by_user' %}">Hesaplar</a></div>
        </div>
        <div id="flush-collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionFlush">
            <div class="accordion-body"><a style="text-decoration: None;" href="{% url 'category_list_create' %}">Kategoriler</a></div>
        </div>
        <div id="flush-collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionFlush">
            <div class="accordion-body"><a style="text-decoration: None;" href="{% url 'budget_list_create' %}">Harcama Planları</a></div>
        </div>

        <div id="flush-collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionFlush">
            <div class="accordion-body"><a style="text-decoration: None;" href="{% url 'transaction_by_user' %}">Transferler</a></div>
        </div>
        <div id="flush-collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionFlush">
            <div class="accordion-body"><a style="text-decoration: None;" href="{% url 'recurring_by_user' %}">Kayıtlı Transferler</a></div>
        </div>

    </div>
    
</div>









<div class="modal fade" id="operationsModal" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      
      <div class="modal-header">
        <h5 class="modal-title">İşlemler</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      
      <div class="modal-body" id="modal-content">
        Loading...
      </div>

    </div>
  </div>
</div>


{% endblock content %}

{% block js_files %}
<script src="{% static 'pages/js/extra.js' %}"></script>
{% endblock %}